@model OnionSample.UI.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    private string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@section Styles {
    <link href='~/css/main.css' rel='stylesheet' />
}

<div class="text-center">
    <form asp-action="AddToDo" asp-controller="Home">
        <label asp-for="Time"></label>
        <input type="datetime-local" asp-for="Time" />

        <label asp-for="Description"></label>
        <input type="text" asp-for="Description" />

        <input type="submit" value="Submit" />
    </form>
</div>

<div class="text-center">
    <div id="calendar"></div>
</div>


@section Scripts
{
    <script src="~/js/main.js"></script>

    <script>
        $(document).ready(function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                editable: false,
                events: function (info, successCallback, failureCallback) {
                    var data = {
                        start: info.start.valueOf(),
                        end: info.end.valueOf()
                    };
                    $.ajax({
                        url: "@Url.Action("GetEvents", "Home")",
                        headers: {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                        data: data,
                        success: function (res) {
                            successCallback(
                                res.map(function (eventEl) {
                                    return {
                                        title: eventEl.title,
                                        start: eventEl.start
                                    }
                                })
                            );
                        },
                        error: function (xhr, status, error) {
                            var errorMessage = xhr.status + ': ' + xhr.statusText
                            alert('Error - ' + errorMessage);
                        }
                    });
                }
            });
            calendar.render();
        });
    </script>
}