@model OnionSample.UI.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    private string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@section Styles {
    <link href='~/css/main.css' rel='stylesheet' />
}

<div class="text-center">
    <p>Hi! That's not a working example, but just a simple demo of onion architecture</p>
    <form asp-action="AddToDo" asp-controller="Home">
        <label asp-for="Time"></label>
        <input type="datetime-local" asp-for="Time" />

        <label asp-for="Description"></label>
        <input type="text" asp-for="Description" />

        <input type="submit" value="Submit" />
    </form>
</div>

<div class="text-center">
    <div id="calendar"></div>
</div>


@section Scripts
{
    <script src="~/js/main.js"></script>

    <script>

        $(document).ready(function () {

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                    theme: true,
                editable: false,
                events: "@Url.Action("GetEvents", "Home")"
            });
            calendar.render();

        });

    </script>
}
